.main-page {
  margin-left: 17.5em;
  background-color: #101935;
  font-family: "Montserrat", sans-serif;
}


/*****
HEADER ATTRIBUTES
*****/
.fluid-container {
  background-color: #101935;
  padding: 50px;
}
.fluid-container h1 {
  color: whitesmoke;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 15px;
  text-align: center;
}
.fluid-container h2 {
  color: whitesmoke;
  font-size: 30px;
  font-weight: 50;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-align: center;
}

/****
HORIZONTAL NAVBAR
****/
.layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
}

input[type=radio] {
  display: none;
}

label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 5px solid #2e6409;
  background: #ecf0f1;
  user-select: none;

  padding-left: 0;
}

input[type=radio]:checked+.page+label.nav {
  background: #2e6409;
  color: #ffffff;
  padding-left: 20px;
}

input[type=radio]:checked+.page+label.nav span {
  padding-left: 20px;
}

input[type=radio]:checked+.page+label.nav svg {
  opacity: 1;
}

label.nav span {
  padding-left: 0px;
  position: relative;
}

label.nav svg {
  left: 0;
  position: absolute;
  width: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 0px;
  align-items: center;
}

.page-contents>* {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}
input[type=radio]+.page {
  transition: transform 0.2s;
  transform: translateX(100%);
}
input[type=radio]:checked+.page {
  transform: translateX(0%);
}
input[type=radio]:checked+.page .page-contents>* {
  opacity: 1;
  transform: translateY(0px);
}
.page-contents {
  max-width: 100%;
}

/****
GAME PAGE ATTRIBUTES
****/
.canvas-container {
  background: linear-gradient(#101935, #101935) no-repeat center/4px 100%;
  background-color: #d8d0c1;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto 150px auto;
}
.grid-container h1 {
  text-align: center;
}
canvas{
  background-color: #2e6409;
}
.grid-container h2 {
  text-align: center;
  width: 500px;
}
.or-spacer {
  display: block;
  height: auto;
  position: relative;
}
.or-spacer span {
  margin-top: 4vw;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  top: 100px;
  border-radius: 100%;
  background: #101935;
}
.or-spacer span :hover{
  cursor: grab;
  opacity: 70%;
}
.or-spacer span i {
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  width: 100%;
  line-height: 50px;
  font-style: normal;
  color: white;
}

.game-data{
  margin-bottom: -4px;
  padding: 0%;
  background-color: #D8D0C1;
  text-align: center;
}
.game-data h1{
 padding: 20px;
}

/***
Algorithm Run Button
***/


#runalg {
  background: #101935;
  border: none;
  color: white;
  cursor: pointer;
  line-height: 1.5;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  position: fixed;
  text-align: center;
  margin-top: 13vw;
  overflow: hidden;
  max-width: 150px;
}

#finalresults{
  text-align: center;
  max-width: 150px;
  background-color: #101935;
  margin-top: 5vw;
  color: white;
}

