  #woodnav {
    background-color: #101935;
    font-family: sans-serif !important;
    margin-left: 17.5em;
  }
  nav a {
    color: white !important;
  }
  
  .main-page {
    background-color: #101935;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  
  .selectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    color: white;
    border: solid white 5px;
    background-color: #748cab;
    margin: 3rem;
    border-radius: 2rem;
    font-size: 24px;
  }
  
  .select:hover {
    background-color: white;
    color: #272838;
  }
  
  a:hover {
    text-decoration: none !important;
  }

